:root {
  --fondo: #121212;
  --fondo-claro: #1f1f1f;
  --principal: #09c269;
  --fondo-principal: #25362e;
  --texto: #fafafa;
  --secundario: rgb(136, 136, 136);
  --borde: #4d4d4d9f;
  --max-ancho: 1200px;                                                
  --fuente: 'SF Pro Display', sans-serif;
  --padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1{
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
}
h2{
    font-weight: 700;
    font-size: 25px;
    
}
h3{
    color: var(--texto) !important;
}

h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
}
p{
    color: var(--secundario) !important;
    font-size: 16px !important;
    line-height: 1.4;
}
p strong{
    color: var(--texto);
    font-weight: 500 !important;
}
body {
  background: var(--fondo);
  color: var(--texto);
  font-family: var(--fuente);
  line-height: 1.6;
}

.contenedor {
  display: grid;
  grid-template-columns: 500px 1fr;
  max-width: var(--max-ancho);
  margin: 0 auto;
  min-height: 100vh;
}

.lado {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lado .foto-perfil{
    background-color: var(--fondo-claro);
    padding: 15px 20px;
    width: min-content;
    border-radius: 20px;
    margin-bottom: 10px;
}
.lado img{
    display: block;
    width: 150px;
    border-radius: 18px;
}

.lado h1 {
  color: var(--texto);
  margin-bottom: 10px;
}
.lado nav{
    margin-top: 30px;
    margin-bottom: 30px;
}
.lado nav ul {
  list-style: none;
}

.lado nav ul li {
  margin: 10px 0;
}

.lado nav ul li a {
  text-decoration: none;
  color: var(--principal);
  position: relative;
  padding-left: 25px; 
  font-size: 17px;
  transition: all 200ms ease-in-out;
}

nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 2px;
  border-radius: 3px;
  background: var(--principal);
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover{
  padding-left: 35px;
}

nav ul li a:hover::before {
  width: 25px; 
}

.lado .redes{
    margin-top: 20px;
    gap: 15px;
    display: flex;
}
.lado .redes i{
    color: var(--texto);
    font-size: 25px;
    transition: all 300ms ease-in-out;
} 
.lado .redes a:hover i{
    color: var(--principal);
}  

.contenido {
  padding: var(--padding);
}

section {
  margin-bottom: 60px;
  margin-top: 4rem;
}

section h2 {
  margin-bottom: 20px;
  color: var(--principal);
  position: sticky;
  top: 0;
  background: var(--fondo);
  padding: 10px 0;
  border-bottom: 1px solid var(--borde);
  z-index: 10;
}

.linea-tiempo {
  position: relative;
  margin: 20px 0;
}

.item {
  margin-bottom: 50px;
  position: relative;
  padding-left: 120px;
}

.fecha {
  display: inline-block;
  background: var(--fondo-principal);
  color: var(--principal);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.caja h3 {
  font-family: var(--fuente);
  font-size: 18px;
  color: var(--texto);
  margin-bottom: 5px;
}

.caja h4 {
  font-size: 16px;
  color: var(--texto);
  margin-bottom: 10px;
}

.caja p {
  font-size: 14px;
  color: var(--texto);
}


.proyecto {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--fondo-claro);
  border: 1px solid var(--borde);
  border-radius: 8px;
}

.proyecto img {
  width: 300px;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 1px solid var(--borde);
}

.proyecto .info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.proyecto .info p {
  font-size: 14px;
  color: var(--texto);
  margin-bottom: 15px;
}
.proyecto .info a{
    text-decoration: none;
    color: var(--principal);
}
footer{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
footer i{
    font-size: 25px;
    color: var(--secundario);
    margin-bottom: 10px;
}
footer p{
    max-width: 400px;
    text-decoration: none;
}


.contenido section {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 1s ease, transform 1s ease;
}

.contenido section.visible {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 900px) {
  .contenedor {
    grid-template-columns: 1fr;
  }
  .lado {
    position: relative;
    height: auto;
    border-right: none;
    align-items: center;
    text-align: center;
    padding-top: 7rem;
  }
  .lado nav ul li a{
    font-size: 19px;
    font-weight: 500;
  }
  .lado .redes{
    gap: 30px;
  }
  .lado .redes i{
    font-size: 30px;
  }
  nav ul li a::before{
    width: 15px;
  }
  .item {
    padding-left: 0;
    margin-left: 0;
  }
  .fecha {
    position: relative;
    margin-bottom: 10px;
  }
  .punto {
    left: 0;
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  .item:not(:last-child)::after {
    left: 6px;
  }
  .proyecto {
    flex-direction: column;
    align-items: flex-start;
  }
  .proyecto img {
    width: 100%;
  }
  footer i{
    font-size: 35px;
}
}
